<!--
	Card - Started
-->
<div class="card-inner card-started active" id="home-card">
	{%- if site.home_style == 'background-image' -%}
		<div class="slide" style="background-image: url({{ 'images/bg.jpg' | relative_url }});"></div>
	{%- elsif site.home_style == 'background-color' -%}
		<div class="slide" style="background-color: #242425;"></div>
	{%- elsif site.home_style == 'particles-bg' -%}
		<div id="particles-bg" class="slide" style="background-image: url({{ 'images/bg.jpg'| relative_url }});"></div>
	{%- elsif site.home_style == 'video-bg' -%}
		<div id="video-bg" class="slide" data-property="{videoURL:'https://youtu.be/DG9VEQX2lBk', containment:'#video-bg', showControls:false, autoPlay:true, loop:true, mute:false, startAt:0, opacity:.7, addRaster:false, quality:'default'}"></div>
	{%- else -%}
		<div class="slide" style="background-image: url({{ 'images/bg.jpg' | relative_url }});"></div>
	{%- endif -%}
	<div class="centrize full-width">
		<div class="vertical-center">

			<!-- Started titles -->
			<div class="title"><span>{{ site.first_name }}</span> {{ site.last_name }}</div>
			<div class="subtitle">
				I am
				<div class="typing-title">
					{%- for profession in site.professions -%}
					<p> <strong>{{ profession }}.</strong></p>
					{%- endfor -%}
				</div>
				<span class="typed-title"></span>
			</div>

		</div>
	</div>
</div>
