		<!--
			Header
		-->
		<header class="header">

			<!-- logo -->
			<div class="logo">
				<a href="https://www.musbenziane.me"><span>M</span></a>
			</div>

			<!-- menu -->
			<div class="top-menu">
				<ul>
					<li class="active">
						<a href="#home-card">
							<span class="icon la la-home"></span>
							<span class="link">Home</span>
						</a>
					</li>
					<li>
						<a href="#about-card">
							<span class="icon la la-user"></span>
							<span class="link">About</span>
						</a>
					</li>
					<li>
						<a href="#resume-card">
							<span class="icon la la-briefcase"></span>
							<span class="link">Resume</span>
						</a>
					</li>



					<li>
						<a href="#works-card">
							<span class="icon la la-book"></span>
							<span class="link">Reads</span>
						</a>
					</li>
					<!--
					<li>
						<a href="#blog-card">
							<span class="icon la la-newspaper-o"></span>
							<span class="link">Blog</span>
						</a>
					</li>
					<li>
					-->
					<li>
						<a href="#contacts-card">
							<span class="icon la la-envelope"></span>
							<span class="link">Contacts</span>
						</a>
					</li>
				</ul>
			</div>

			<!-- Started socials -->
			<div class="social">
				{%- for social_link in site.social_link -%}
				<a target="_blank" href="{{ social_link.link }}"><span class="icon lab la-{{ social_link.name }}"></span></a>

				{%- endfor -%}
				<a target="_blank" href="https://www.musbenziane.me/files/musbenziane_resume_v1.pdf" title="Download CV"><span class="las la-cloud-download-alt"></span></a>

			</div>

			<!-- Mobile Menu -->
			<span class="menu-btn">
				<span class="m-line"></span>
			</span>

		</header>
