
		<div class="theme_panel">
			<div class="toggle_bts">
				<a class="toggle-theme-panel" href="#">
					<i class="icon la la-gear"></i>
				</a>
			</div>
			<div class="theme_menu">
				<h4>Need Wordpress Version?</h4>
				<a href="#" target="_blank" class="buy-btn wp_btn" style="margin-top: 0;background: #248fef;"><i class="ion ion-social-wordpress"></i>Click Here</a>
				<h4>Color Switcher</h4>
				<div class="segment">
					<ul class="theme layout_style">
						<li>
                            <a title="theme-green" href="#" data-color="green" style="background-color: #5ac24e;"></a>
                        </li>
						<li>
                            <a title="theme-blue" href="#" data-color="blue" style="background-color: #65b4f3;"></a>
                        </li>
						<li>
                            <a title="theme-orange" href="#" data-color="orange" style="background-color: #f5a640;"></a>
                        </li>
						<li>
                            <a title="theme-pink" href="#" data-color="pink" style="background-color: #ee6192;"></a>
                        </li>
						<li>
                            <a title="theme-purple" href="#" data-color="purple" style="background-color: #bb68c8;"></a>
                        </li>
						<li>
                            <a title="theme-red" href="#" data-color="red" style="background-color: #ee534f;"></a>
                        </li>
					</ul>
				</div>
                <div class="clear"></div>
				<h4>RTL/LTR Version</h4>
				<ul class="theme demo_list">
                    <li style="width: 50%;"><a href="index-rtl.html"><strong>RTL</strong></a></li>
                    <li style="width: 50%;"><a href="index.html"><strong>LTL</strong></a></li>
				</ul>
				<div class="clear"></div>
				<h4>Background Demos</h4>
				<ul class="theme demo_list">
                    <li style="width: 50%;"><a href="index.html"><strong>BG Image</strong></a></li>
                    <li style="width: 50%;"><a href="index-video.html"><strong>BG Video</strong></a></li>
                    <li style="width: 50%;"><a href="index-particles.html"><strong>BG Particles</strong></a></li>
                    <li style="width: 50%;"><a href="index-bgcolor.html"><strong>BG Color</strong></a></li>
				</ul>
				<div class="clear"></div>
				<a href="#" class="buy-btn"><i class="ion ion-android-cart"></i>Buy Template</a>
			</div>
		</div>
		